body {
    text-align: left; 
    font-family: Arial, sans-serif; 
    background-color: #f5f5f5; 
}

#tabla {
    border: 3px solid #333; 
    margin: 20px auto; 
    border-collapse: collapse; /* para eleminiar espacios enter las celdas */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}

td {
    width: 60px; /* Tamaño de las celdas */
    height: 60px; 
    padding: 0; 
    border: 1px solid #aaa;
    text-align: center;
    vertical-align: middle;
    cursor: default; 
}
/* Para que las imágenes ocupen toda la celda */
td img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Celdas resaltadas (para ver a donde me puedo mover) */
.resaltado {
    background-color: #ff4d4d; 
    cursor: pointer !important; 
    border: 2px solid #b30000;
    box-shadow: inset 0 0 8px rgba(255, 0, 0, 0.6); 
}

#mensajeHeroe, #texto {
    margin: 10px;
    font-size: 1.2em; 
    font-weight: bold;
    color: #333; 
}
/* Estilo de la imagen del dado */
#imagenDado {
    vertical-align: middle;
    width: 65px; 
    height: 65px;
    margin: 10px;
    border: 2px solid #333; 
    border-radius: 8px; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.3); 
}



